<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
</head>
<body>
    <h1>Some contacts:</h1>
    <h2>681(323)592-02-09<br>
        66(8018)638-85-05<br>
        9(5309)583-51-35<br>
        02(92)730-01-85<br>
        4(2235)278-01-42<br>
        07(394)219-22-01<br>
        365(881)180-20-44<br>
        51(80)427-35-04<br>
        872(313)343-36-48<br>
        9(292)565-39-13</h2>
</body>
</html>