<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Some images</title>
</head>
<body>
    <h1>images</h1>
    <p><img src="https://www.nature.org/content/dam/tnc/nature/en/photos/tnc_48980557.jpg"></p>
    <p><img src="https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/FreeFlowingRiver.jpg?crop=191,0,1322,992&wid=820&hei=615&scl=1.6130081300813008"/></p>
</body>
</html>