<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>My page</h1>
    <h3>Omarova Nigara</h3>
    <h4>Some text:</h4>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt officiis illo aut deserunt dignissimos ea temporibus maxime quae voluptate, tenetur aliquid animi nostrum obcaecati. Similique asperiores recusandae dicta fuga commodi?
    Culpa recusandae placeat eius asperiores blanditiis perspiciatis sed quae aspernatur ad fugiat, accusamus quod similique iure voluptates, totam id incidunt, optio ipsam? Temporibus assumenda accusantium nobis velit aperiam consequatur! Animi.
    Expedita temporibus dolor qui dolorem nemo accusamus animi omnis perferendis culpa voluptas quasi dignissimos, dolore inventore, autem similique rem sit quis dolorum quidem dolores eum, libero nulla maxime! Libero, ratione.
    Rem voluptatum magni beatae aliquid officiis quos perferendis distinctio doloremque eius esse voluptates quia odio quod hic, explicabo molestias accusamus maxime, corrupti dicta sit maiores nihil omnis ducimus. Optio, temporibus?</p>
</body>
</html>